@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(15, 23, 42);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}

body {
  padding: 10px;
  width: 300px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
